
<section>
    <h2>Your Favorites</h2>
    <ul>
        {{#if favorite.length}}
        {{#each favorite as |favorite|}}
        <li>
            <article class="favorites">
                <p class="asana">
                    <span>{{favorites.name}}</span>
                </p>
                <div class="meta">
                    <strong>Chosen on{{format_date favorite.chosen_on}}</strong>
                </div>
            </article>
            <a href="/api/asana/{{asana.id}}" class="edit-link">Edit-favorites</a>
        </li>
        {{/each}}
        {{else}}
        <li>No Favorites saved</li>
        {{/if}}
    </ul>
</section>

