{{#if favorite.length}}
<section>
    <h2>Your Favorites</h2>
    <ul>
        {{#each favorite as |favorite|}}
        <li>
            <article class="favorites">
                <p class ="asana">
                    <span>{{favorites.name}}</span>
                </p>
                <div class="meta">
                    <strong>Chosen on{{format_date favorite.chosen_on}}</strong>
                </div>
                </article>
                <a> href="/api/asana/{{asana.id}}" class="edit-link"> Edit-favorites<a>
        </li>
        {{/each}}
        </ul>
    </section>

    <div>
        <button type="submit"><a href="dashboard/new-favorite" class="create btn">Add New Favorite<a>button>
    </div>