<div class="mainText">
  {{!-- how to use --}}
  <h1 class="title is-2">The Importance of Yoga</h1>
  <br>
  <h2 class="subtitle is-3">A Holistic Practice</h2>
  <div class="box boxes"
    <p>A consistent yoga practice paves the way for a strong, flexible, and balanced body and mind. Though physical
      benefits generally take the forefront, mental health benefits are becoming ever more relevant. Countless health
      studies have shown how yoga helps to mitigate stress, which reveals itself in numerous ways including back and
      neck pain, insomnia, migranes, anxiety, and more. The transformative practice of yoga helps practitioners develop
      coping skills, overcome substance abuse issues, and attain a more positive outlook on life.
    </p>
  </div>
  <br>
  <h2 class="subtitle is-3">Heightened Concentration</h2>
  <div class="box boxes">
    <p>Enhanced concentration is one of the many benefits of a calm mind. Most modern day beings can agree that
      sustained concentration is ever fleeting. With the constant bombardment of real world and digital alerts the
      ability to focus without the aid of cognitive enhancing drugs is nearly impossible. Meditation, a potent yogic
      practice, can aid in sharpening the mind and ultimately building focus. Depending on the meditation style a
      practitioner can draw their attention towards the breath or a mantra when the mind wanders.
    </p>
  </div>
  <br>
  <h2 class="subtitle is-3">Strength and Flexibility</h2>
  <div class="box boxes">
    <p>Sedentary lifestyles are leading the way for an aging population that suffers from an array of chronic health
      issues that stem from limited flexibility, low strength, poor posture, stiffness, and more. The performance of
      yoga
      asanas encourages body movements accross all planes of motion, increases joint mobility, and indirectly releases
      pent-up emotions. Consistently practicing these postures ultimately leads to greater strength and flexibility,
      which
      are two crucial elements for healthy muscles, tissues, and ligaments.
    </p>
  </div>
  <br>
  <h2 class="subtitle is-3">Discipline and Mindfulness in Life</h2>
  <div class="box boxes">
    <p>
      Moving beyond asana, the spiritual elements of yoga invite greater discipline and mindfulness into daily living.
      Honoring a series of ethical principals during a practictioners lifespan means being mindful in every action,
      performing acts with compassion, and living life in the present moment.
    </p>
  </div>
</div>