<form class = "login-form">

    
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">

    <label for="email">Email:</label>
    <input type="text" id="email" name="useremail">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"

    <input type="submit" value="Login">
</div>
</form>