<form class="forms">
    <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text" placeholder="username">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            <span class="icon is small is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <a class="button is-link" href="/dashboards">Submit</a>
        </div>
        <div class="control">
            <a class="button is-link is-light">Cancel</a>
        </div>
    </div>
</form>
