
{{#each asanas as |asana|}}
<section class="searchResult">
    <a class="box boxes" href="/asana/{{asana.id}}">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="formImage" src="https://www.dropbox.com/s/wizj5kwxvez4c0a/bow.svg?raw=1" alt="{{asana.english_name}}">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            Bow |
                        </strong>
                        <strong>
                            Dhanurasana
                        </strong>
                        <br>
                        <strong>Focus:</strong>
                        <br>
                    <p>
                        {{focus.description}}
                    </p>
                </div>
            </div>
        </article>
    </a>
</section>
