nav {
    margin-right: 30%;
}
.signIn {
    position: fixed;
    right: 80px;
    top:20px
}
.importance {
    max-width: 100%;
    height: auto;
}
.mainText {
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    text-align: center;
    font: 500 100%/1.5;
}
.header {
    background-image: url("../image/background.png");
    background-color: #cccccc;
    font-size: 0;
}
.forms {
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    padding: 40px;
    border-radius: 25px;
    max-width: auto;
    margin: 50px;
}
.asanaImage {
    display: inline;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    margin: 50px 10px 50px 50px;
    max-width: 30%

}
.asanaInfo {
    display: inline;
    float: right;
    margin: 50px 50px 50px 50px;
    max-width: 40;
}
#favHeader {
    display: block;
    text-align: center;
}
.boxes {
    font-size: larger;
    text-align: left;
    margin: 50px;
}
