nav {
    margin-right: 30%;
}
.singIn {
    position:fixed; 
    right:80px; 
    top:20px;
}

.importance {
    max-width: 100%;
    height: auto;
  }
    
.mainText {
    /* display: grid; */
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    /* align-items: left; */
    justify-content: center;
    /* max-width: 800px; */
    /* margin: 0 auto; */
    font: 500 100%/1.5 system-ui;
}
.header {
        background-image: url("./images/background.png");
        background-color: #cccccc;
        font-size: 0%;
}
.forms {
    /* display: inline-block; */
  border-radius: 1px;
  border-color: black;
  border-style: solid;
  padding: 40px;
  border-radius: 25px;
  max-width: auto;
  margin: 50px;

  
}
.asanaImage {
    display: inline;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    margin: 50px 10px 50px 50px;
    max-width: 30%;
}
.asanaInfo {
    display: flex;
    float: right;
    margin: 50px 50px 50px 10px;
    max-width: 40%;
}
#favHeader {
    display: block;
    text-align: center;
    /* margin: auto; */
}
.boxes{
    margin: 50px;
}